.d-flex-sidebar{
    flex-basis: 20%;
    transition: 0.5s;
  }
  
  .d-flex-sidebar-1{
    flex-basis: 5%;
    transition: 0.5s;
  }
  
  .d-flex-header{
    flex-basis: 100%;
    transition: 0.5s;
  }
  
  .d-flex-header-1{
    flex-basis: 95%;
    transition: 0.5s;
  }
  
  .icons{
    cursor: pointer;
    color: white;
    font-size: 20px;
  }
  
  
  .img{
    width: 16.2%;
  }
  
  .bg-coloe{
    background-color: rgb(58, 76, 175);
    padding: 12px 5px;
  }
  
  .bg-color-2{
    background-image: linear-gradient(90deg,rgb(28, 65, 82),rgb(2, 2, 2));
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 630px;
  }
  
  .bg-color-2::-webkit-scrollbar{
    width: 5px;
  }
  
  .bg-color-2 ul{
    padding: 0px;
  }
  
  ::-webkit-scrollbar{
    width: 0px;
  }
  
  
  .bg-color-2 ul li {
    color: white;
    padding: 10px 5px;
  }
  
  .bg-color-2 ul li a{
    color: white;
    text-decoration: none;
  }
  
  .mt-sld{
    background-image: linear-gradient(90deg,rgb(28, 65, 82),rgb(2, 2, 2));
          height: 620px;
          overflow-y: scroll;
          overflow-x: hidden;
  }

  .mt-sld-1{
    background-color: white;
    height:620px;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  /* .icons-1{
    background-color: rgba(99, 96, 93, 0.582);
    font-size: 30px;
    padding: 5px;
    border-radius: 50px;
    margin: 0px 10px;
  } */
  .icons-1{
    font-size: 30px;
    background-color: rgba(99, 96, 93, 0.582);
    padding:  5px;
    border-radius: 50%;
    margin:2px 8px;
  }

  .icons-3{
    background-color: rgba(72, 112, 192, 0.582);
    font-size: 30px;
    padding: 5px;
    border-radius: 50px;
    margin: 0px 10px;
    cursor: pointer;
  }
  
  .img-1{
  width: 34px;
  }
  
  .icons-4{
    background-color: rgba(72, 112, 192, 0.582);
    border-radius: 50px;
    margin: 0px 10px;
  }
  
  .icons-2{
    font-size: 30px;
    margin: 0px 10px;
  }
  
  .header{
    background-color: rgb(29, 48, 110);
    color: white;
    padding: 6px;
  }
  
  .img-0{
    width: 53%;
    transition: 1s;
  }
  
  .back-color{
    background-color: black;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .white-color{
    background-color: white;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .back-color::-webkit-scrollbar{
    width: 5px;
  }
  
  .dropdown button{
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    border: none;
  }
  
  .dropdown button:hover,.dropdown button:focus{
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    border: none;
  }
  
  .dropdown button:focus:not(:focus-visible){
    outline: none;
    box-shadow: none;
  }
  
  .dropdown-toggle::after{
    display: none !important;
  }
  
  
  .img-9{
    width: 50px;
  }
  
  .canvas{
    width: 100% !important;
  }
  
  .lol li{
    list-style: none;
    font-weight: 600;
    color: rgb(110, 137, 226);
  }
  
  .cursor-pointer{
    cursor: pointer;
  }
  .black-wat{
    background-image: linear-gradient(90deg,rgb(28, 65, 82),rgb(2, 2, 2));
  }
  .black-wat-1{
     background-color: white;
  }
 .value{
    background: none;
    border:none;
    width:35px;
    font-size: 20px;
    position: relative;
    right: 20px;
    bottom: 10px;
    color: red;
 }
.hlw-3{
  height: 628px;
  background-image: linear-gradient(90deg,rgb(28, 65, 82),rgb(2, 2, 2));
}
.hlw-abc{
  height: 628px;
  background-image: linear-gradient(90deg,rgb(28, 65, 82),rgb(2, 2, 2));
  overflow-y: scroll;
  overflow-x: hidden;

}
.hlw-31{
  height:628px;
  background-color: white;
}
.my-back{
  background-image: linear-gradient(90deg,rgb(28, 65, 82),rgb(2, 2, 2));
  height:628px;
}